head-wasm32-unknown-wasi-full/**
head-wasm32-unknown-wasi-full
vendor/
vendor/**
bin/
bin/**
tens_ui_js/node_modules
tens_ui_js/node_modules/**
tens_wasm_js/node_modules/**
tens_wasm_js/node_modules
tens_wasm_js/tens.wasm
public/tens_ui.js
public/tens_ui.js.map
public/assets/
public/assets/**
update_tens.sh
